[selenium]
chrome_driver_path = C:\Users\**(your_user_here)**\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe
profile_path = C:\Users\**(your_user_here)**\AppData\Local\Google\Chrome\User Data\Default
url = https://www.chase.com/
frame_name = logonbox
username_field_id = userId-input
password_field_id = password-input
signin_button_id = signin-button
div_element_id = widget-moip-merchant-offers
index_js_path = index.js

[user1]
username = add_username_here
password = add_passowrd_here
