[selenium]
chrome_driver_path = C:\Users\your_user_profile_here\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe
profile_path = C:\Users\your_user_profile_here\AppData\Local\Google\Chrome\User Data\Default
username = your_chase_username_here
password = your_chase_password_here
url = https://www.chase.com/
frame_name = logonbox
username_field_id = userId-text-input-field
password_field_id = password-text-input-field
signin_button_id = signin-button
div_element_id = widget-moip-merchant-offers
index_js_path = index.js
